body {
    background-color: #0d221b;
}

#navbar {
    height: 20%;
    width: 100%;
}

#fill {
    width: 98%;
    height: calc(98% - 58px);
    position: absolute;
    left: 1%;
    bottom: 0;
    background-color: #f9f8f4;
    border-radius: 50px 50px 0px 0px;
}

#logo2 {
    position: absolute;
    top: 1%;
    left: 5%;
}

#topbutton {
    position: absolute;
    right: 5%;
    top: 1%;
}

#title {
    position: absolute;
    top: 25%;
    left: 5%
}

#map { 
    height: 35%;
    width: 35%;
    position: absolute;
    bottom: 5%;
    right: 5%;
    border: 0.1px;
    border-color: #0d221b;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 46px 0px 25px -15px rgba(0,0,0,0.1);
}

#video {
    height: 35%;
    width: 35%;
    background-color: #0d221b;
    position: absolute;
    top: 15%;
    left: 5%;
    border: 0.1px;
    border-color: #0d221b;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 46px 0px 25px -15px rgba(0,0,0,0.1);
}

#ext {
    height: 35%;
    width: 35%;
    position: absolute;
    right: 5%;
    top: 15%;
    border: 0.1px;
    border-color: #0d221b;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 46px 0px 25px -15px rgba(0,0,0,0.1);
}

#console {
    height: 35%;
    width: 35%;
    position: absolute;
    left: 5%;
    bottom: 5%;
    background-color: #0d221b;
    color: white;
    box-shadow: 46px 0px 25px -15px rgba(0,0,0,0.1);;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: 1.5em;
}

#console>div {
    border-radius: 10px;
}


h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: #0d221b;
}

#t1 {
    position: absolute;
    top: 5%;
    left: 5%;
}

#t2 {
    position: absolute;
    top: 5%;
    left: 60%;
}

#t3 {
    position: absolute;
    bottom: 40%;
    left: 60%;
}